body{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: rgb(39, 37, 37);
    min-height: 100%;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body li {
    list-style: none;
}

.header {
    display: flex;
    flex-grow: 0.3;
    flex-wrap: wrap;
    height: 10%;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 37, 37);
}

.header__element {
    display: flex;
    color: whitesmoke;
    font-size: 20px;  
}

.header__main {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: space-between;
    justify-content: center; 
    align-items: center;   
    border: 1px solid red;
    margin-left: -60px;
    left: 50%;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 2%; 
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%; 
    border: 1px solid red;
}   

/* @font-face {
    font-family: "Zuider Postduif Demo"; 
    src: url("fonts/zuider postduif demo.ttf") format('truetype');
} */

.header__main--title {   
    font-size: 30px;
    font-family: 'Monolith Sans';
}

.header__main--moto {
    font-size: 12px;
}

.search {
    display: flex;
    flex-grow: 1;
    height: auto;
    position: relative;
    background-color: rgb(63, 64, 70);
}

.search__info {
    height: auto;
    display: flex;
    flex-direction: row;
}

.search__info ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 200px;   
    padding: 1% 1% 1% 5%;
    margin-top: 5%;
    order: 1;
    border: 1px solid red;
    color: white;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(63, 64, 70, 1), rgba(206, 152, 64, .7));
}

.search__info li {
    color: white;
    list-style: none;
}

.search__info img {
    width: 50%;
    height: 100%;
    order: 2;
    background-color: grey;
    border: 1px solid red;
}
    

.header__icons {
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 5%;
    max-height: 30px;
    border: 1px solid red;
}

.header__icons img {
    display: flex;
    width: 50%;
}




.search__area {
    z-index:10;
    position: absolute;
    top: 70%;
    height: 80px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid red;
}

.search__tabs {
    display: flex;
    width: 50%;
    height: 30px;
    margin-right: 50%;
    border: 1px solid red; 
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.search__tab {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-basis: 30%;
    border: 1px solid green;
    height: inherit;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

.search__tabs__button {
    position: absolute;
    height: inherit;
    border: 1px solid yellow;
    background-color: transparent;
}


.search__tab:before, .search__tab:after {
    z-index: -1;
    position: absolute;
    content: "";
    box-sizing: border-box;
    border: 18px solid transparent;
    border-bottom-color: white;
}

.search__tab:before {
    left: -20px;
    border-width: 0 8px 30px 20px;
}

.search__tab:after {
    right: -20px;
    border-width: 0 20px 30px 8px;
}

.search__field {
    background-color: white;
    height: 45px;
    border: 1px solid blue;
    display: flex;
}

.search__field input {
    height: 40px;
    width: 90%;
    border: 1px solid red;
    padding-left: 30px;
    color: grey;
}

.search__field img {
    height: 30px;
    width: 5%;
    margin-top: 7px;
    border: 1px solid red;
}

.slider {
    background-color: #cf993e;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    width: 100%;
}

.slider__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid violet;
    margin-top: 20px;
    height: 70%;
    width: 90%;
}

.slider__item img {
    height: 100%;
}

.slider__text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider__text--main {
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding: 2%;
    text-align: center;
}

.slider__text--comment {
    color: white;
    font-size: 25px;
    padding: 2%;
    text-align: center;
}

.slider__item::after, .slider__item::before {
    color: white;
    font-size: 60px;
    font-weight: bold;
    border: 1px solid red;
    size: auto;
}   

.slider__item::before {
    content: "<";
}

.slider__item::after {
    content: ">";
}

.slider__arrow--left, .slider__arrow--rigth{
    content: "<";
    font-size: 80px;
    color: white;
}

.slider__bullets {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    size: auto;
}

.bullet {
    background-color: white;
    width: 10px;
    height: 10px;
    margin: 10px 10px 10px 10px;
}

.goods {
    background-image: 
    linear-gradient(-75deg, transparent, transparent),
    linear-gradient(-75deg, rgba(206, 152, 64, .7) 10%, rgb(63, 64, 70)),
    linear-gradient(-75deg,  rgb(63, 64, 70), rgba(206, 152, 64, .7) 10%,);
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    align-items: center;
}

.goods h2 {
    color: #cf993e;
    margin: 5%;
}

.goods__list {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid red;
    padding: 0;
}

.goods__list li {
    list-style: none;
}

.goods__list__card--empty, .goods__list__card {
    height: 200px;
    width: 400px;
    margin: 5% 0% 5% 0%;
    display: flex;
}

.goods__list__card--empty img {
    width: 100%;
}

.goods__list__card {
    background-color: white;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.goods__list__card h3 {
    color: #cf993e; 
}

.goods__list__card li {
    color: black;
    list-style: none;
    margin: 2% 0% 2% 0%;
}

.goods__list__card img {
    width: 40%;
}

.goods__catalog {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: 400px;
    padding: 0px;
}

.goods__catalog li {
    list-style: none;
}

.goods__catalog__letter {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 100px;
    margin-bottom: 40px;
}

.goods__catalog__letter div {
    color: #cf993e;
}

.goods__catalog__letter ul {
    list-style: none;
    color: white;
    padding: 0px;
    margin-left: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

.footer footer {
    height: 10px;
    background-color: #cf993e;
}

.footer__content {
    display: flex;
    flex-direction: row;
    min-height: 390px;
}

.footer__content__nav {
    border: 1px solid red;
    flex: 2;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    justify-content: center;
}


.footer__content__nav__caption {
    margin: 5% 0 5% 20%;
}

.footer__content__nav__menu {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    margin: 0 0 0 20%;
}

.footer__content__nav__menu ul{
    border: 1px solid yellowgreen;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    padding: 0;
    height: 40%;
    width: 100%;
    margin: 0;
}

/* .footer__content__nav__menu li {
    list-style: none;
} */

.footer__content__nav__social-networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blueviolet;
    height: 60%;
    padding-left: 7%;
}

.footer__content__social-networks__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    border: 1px solid red;
    width: 50%;
    height: 100%;
}

.footer__content__social-networks__links img {
    height: 100%;
    width: 20%;
}

.footer__content__map {
    border: 1px solid yellowgreen;
    flex: 2;
}

.capture {
    display: flex;
    flex-grow: 0.3;
    flex-wrap: wrap;
    height: 10%;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #cf993e;
    color: white;
    font-size: 12px;
    padding: 0% 2% 0% 2%;
}

.capture__path-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 40%;
    padding: 0;
}

.capture__path-line :last-child {
    font-size: 24px;
}

.catalog {
    display: flex;
    flex-direction: row;
    widows: 100%;
    height: auto;
    padding: 2%;
    border: 1px solid yellowgreen;
    background: linear-gradient(90deg, rgba(142, 141, 139, 0.7), rgba(63, 64, 70, 1));
}

.catalog__filters {
    height: 100%;
    width: 20%;
    border: 1px solid violet;
}

.catalog__list {
    height: 100%;
    width: 80%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.catalog__list__card {
    width: 250px;
    height: 350px;
    margin: 5% 0% 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: white;
    padding: 2%;
}

.catalog__list__card img {
    width: 100%;
}

.catalog__list__card ul {
    padding: 0;
}

.catalog__list__card ul :last-child {
    font-size: 20px;
    margin-top: 10%;
}



/* @media all and (max-width: 500px) {
    .search__info { 
     On small screens, we are no longer using row direction but column
      flex-direction: column;
    }

    .search__info ul {
        height: 50%;
        width: 100%;
    }

    .search__info img {
        height: 50%;
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    .header--main{
        order: 1;
    }

    .header--contacts{
        order: 2;
        flex-direction: column;
    }

    .header__icons{
        order: 3;
    }
  }  */

 
  
 