body{
    display: grid;
    width: auto;
}

.header{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 37, 37);
}

.header__element{
    display: flex;
    color: whitesmoke;  
}

.header__main{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;    
    border: 1px solid red;
    margin-left: -60px;
    left: 50%;
}

.header__contacts{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 5%; 
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 300px; 
    border: 1px solid red;
}       

.header__main__title{   
    font-size: 20px;
}

.header__main__moto{
    font-size: 12px;
}

.search{
    height: auto;
    position: relative;
    background-color: rgb(63, 64, 70);
}

.search__info{
    height: auto;
    display: flex;
    flex-direction: row;
}

.search__info ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 200px;   
    padding: 1% 1% 1% 5%;
    margin-top: 5%;
    order: 1;
    border: 1px solid red;
    color: white;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(63, 64, 70, 1), rgba(206, 152, 64, .7));
}

.search__info li {
    color: white;
    list-style: none;
}

.search__info img {
    width: 50%;
    height: 100%;
    order: 2;
    background-color: grey;
    border: 1px solid red;
}

@media all and (max-width: 500px) {
    .search__info { 
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }

    .search__info ul {
        height: 50%;
        width: 100%;
    }

    .search__info img {
        height: 50%;
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    .header--main{
        order: 1;
    }

    .header--contacts{
        order: 2;
        flex-direction: column;
    }

    .header--icons{
        order: 3;
    }
  } 
    

.header--icons{
    display: flex;
    color: whitesmoke;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid red;  
}


.search__area{
    z-index:10;
    position: absolute;
    top: 70%;
    height: 80px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid red;
}

.search__tabs {
    display: flex;
    width: 50%;
    height: 30px;
    margin-right: 50%;
    border: 1px solid red; 
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.search__tab {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-basis: 30%;
    border: 1px solid green;
    height: inherit;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

.search__tabs__button {
    position: absolute;
    height: inherit;
    border: 1px solid yellow;
    background-color: transparent;
}


.search__tab:before, .search__tab:after {
    z-index: -1;
    position: absolute;
    content: "";
    box-sizing: border-box;
    border: 18px solid transparent;
    border-bottom-color: white;
}

.search__tab:before {
    left: -20px;
    border-width: 0 8px 30px 20px;
}

.search__tab:after {
    right: -20px;
    border-width: 0 20px 30px 8px;
}

.search__field {
    background-color: white;
    height: 45px;
    border: 1px solid blue;
    display: flex;
}

.search__field input {
    height: 40px;
    width: 90%;
    border: 1px solid red;
    padding-left: 30px;
    color: grey;
}

.search__field img {
    height: 30px;
    width: 5%;
    margin-top: 7px;
    border: 1px solid red;
}

.slider{
    background-color: #cf993e;
}

.relevant-goods{
    background-color: aqua;
}

.catalog{
    background-color: blueviolet;
}

.footer{
    background-color: blue;
}

 
  
 